# PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_DB=olx_assistant
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# Elasticsearch Configuration
ELASTIC_URL_LOCAL=http://localhost:9200
ELASTIC_URL=http://elasticsearch:9200
ELASTIC_PORT=9200

# Streamlit Configuration
STREAMLIT_PORT=8501

# Other Configuration
EMBEDDING_MODEL_NAME=xlm-r-distilroberta-base-paraphrase-v1
INDEX_NAME=documents_olx_20240907
RAG_MODEL_NAME="gpt-4o-mini"

OPENAI_API_KEY=''
